[production]
> 1%
not dead
not op_mini all
Firefox ESR

Chrome >= 68
IE 11
Firefox >= 56
Opera >= 48
Safari >= 11

[development]
> 1%
not dead
not op_mini all
Firefox ESR

Chrome >= 68
IE 11
Firefox >= 56
Opera >= 48
Safari >= 11
